body{
    /* background-image: url(../images/cdmx3.jpg);*/
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/cdmx2.jpg);
    background-attachment: fixed; 
}

.fondo-container{
    background-color: rgb(255, 255, 255);
}

.label{
    background-color: rgb(7, 148, 37);
    color: white;
    font-weight: bold;
}

#geomap{
    width: 100%;
    height: 400px;
}