<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>{% block pageTitle %}{% endblock %}</title>
   
      <link rel="shortcut icon" href="https://www.atencionciudadana.cdmx.gob.mx/src/img/favicon.ico">
      
      <!-- Google Fonts -->
      <link rel="stylesheet" 
         href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

      <!-- mini.css -->
      <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">

      
      <!-- Validator Script -->
      <script src="/scripts/validator.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>

   <body>
      <header class="sticky">
         <img src="https://www.atencionciudadana.cdmx.gob.mx/src/img/logo.svg" alt="Gobierno de la Ciudad de México" class="header-logo">
      </header>
      <br />
      <div class="container">
      {% block main %}
      {% endblock %}
      </div>
   
      <footer>
         <p>Sistema Complementario de Atención Ciudadana (SCAC)</p>
      </footer>

   </body>

</html>

