{% extends 'UI_Base.html' %}

{% block pageTitle %} Error {% endblock %}
{% block title %}Something went wrong ☹️ {% endblock %}
{% block card %}
   <div class="stack">
      <h2>It can be because of one of these reasons:</h2>
      <ul>
         <li>The file was not loaded</li>
         <li>It is the wrong Excel file.</li>
         <li>The structure of the Excel file was modified.</li>
         <li>Someone (probably the developer) screwed it up.</li>
      </ul>
      <form action="/" method="get">
         <input type="submit" value="Retry" 
         name="submit" id="submit" />
      </form>
   </div>
{% endblock %}
