{% extends 'base.html' %}

{% block pageTitle %}Folio{% endblock %}
{% block main %}
<div class="row" style=" justify-content: center;" >
   <div class="col-sm-12 col-md-8 col-lg-6" 
           style="height: 10vh; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 0 1 auto;">
      <h1>Introduce el folio de petición</h1>
   </div>
</div>
<div class="row" style=" justify-content: center;" >
   <!-- Adding some flex properties to center the form and some height to the page, these can be omitted -->
   <div class="col-sm-12 col-md-8 col-lg-6" 
           style="height: calc(90vh - 10.25rem); display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 0 1 auto;">
      <form action = "editor" method = "post" enctype="multipart/form-data">  
         <div class="stack">
            <div id="fileInput">
               <input type="search" id="folio" name="folio" onchange="enableUpload(this)"/>
            </div>
            <input disabled id="submit" type = "submit" value="Buscar">  
         </div>
      </form>
   <div style="height: 25vh;"></div>
   </div>
</div>
{% endblock %}
