{% extends 'base.html' %}      

{% block pageTitle %}Inicio de sesión{% endblock %}
{% block main %}
 <div class="row">
    <div class="col-sm">
    </div>
    <!-- Adding some flex properties to center the form and some height to the page, these can be omitted -->
    <div class="col-sm-12 col-md-8 col-lg-6" style="height: calc(100vh - 10.25rem); display: flex; align-items: center; flex: 0 1 auto;">
       <form action="/index">
          <fieldset>
             <legend>Inicio de sesión</legend>
             <div class="input-group fluid">
                <label for="username" style="width: 80px;">Usuario</label>
                <input type="email" value="" id="username" placeholder="usuario">
             </div>
             <div class="input-group fluid">
                <label for="pwd" style="width: 80px;">Password</label>
                <input type="password" value="" id="pwd" placeholder="password">
             </div>
             <div class="input-group fluid">
                <button class="primary">Iniciar</button>
                <button>Recuperar contraseña</button>
             </div>
          </fieldset>
       </form>
    </div>
    <div class="col-sm">
    </div>
 </div>
 
{% endblock %}
