{% extends 'base.html' %}

{% block pageTitle %}Folio{% endblock %}
{% block main %}
<div class="row" style=" justify-content: center;" >
   <div class="col-sm-12 col-md-8 col-lg-6" 
           style="height: 10vh; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 0 1 auto;">
	<h1>Estatus de petición</h1>
   </div>
</div>
<div class="row" style=" justify-content: center;" >
   <!-- Adding some flex properties to center the form and some height to the page, these can be omitted -->
   <div class="col-sm-12 col-md-8 col-lg-6" 
           style="height: calc(90vh - 10.25rem); display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 0 1 auto;">
      <!-- Progreso de la petición -->
      <progress value="2" max="3" class="tertiary"></progress>
      <form action = "peticion" method = "post" enctype="multipart/form-data">
	 <fieldset>
             <legend>Datos de solicitud</legend>
             <div class="input-group fluid">
                <label for="folio" style="width: 80px;">Folio</label>
		<input disabled type="text" value="{{ solicitud.folio }}" id="folio" name="folio">
             </div>
             <div class="input-group fluid">
                <label for="responsable" style="width: 80px;">Responsable</label>
		<input disabled type="text" value="{{ solicitud.responsable }}" id="responsable">
             </div>
             <div class="input-group fluid">
                <label for="estatus" style="width: 80px;">Estatus</label>
		<input disabled list="opciones" value="{{ solicitud.estatus }}" id="estatus">
             </div>
             <div class="input-group fluid">
                <label for="fechaSolicitud" style="width: 80px;">Fecha de solicitud</label>
		<input disabled type="text" value="{{ solicitud.fechaSolicitud }}" id="fechaSolicitud">
             </div>
             <div class="input-group fluid">
                <label for="fechaLimite" style="width: 80px;">Fecha de limite</label>
		<input disabled type="text" value="{{ solicitud.fechaLimite }}" id="fechaLimite">
             </div>
	 </fieldset>
      </form>

   <div style="height: 25vh;"></div>
   </div>
</div>
{% endblock %}
